<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>UBS Home</title>
</head>
<body>
<nav role="navigation">
    <ul>
        <h1>
            <li><a href="/home">Home</a></li>
            <li><a href="/academicstaff">Academic Staff</a></li>
            <li><a href="/students">Students</a></li>
            <li><a href="/courses">Courses</a></li>
        </h1>
    </ul>
</nav>
</body>
</html>